---
---

main {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background: transparent !important;
}

body {
  background: transparent !important;
}

section {
  background: transparent !important;
}
