{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">

{% if member.slug == "1shuojun" %}
<a
  href="{{ member.url | relative_url | uri_escape }}"
  class="portrait"
  data-style="{{ include.style }}"
  aria-label="{{ member.name | default: 'member link' | regex_strip }}"
>
{% else %}
<div
  class="portrait"
  data-style="{{ include.style }}"
  aria-label="{{ member.name | default: 'member link' | regex_strip }}"
>
{% endif %}

</div>
